package {{.Package}}

import (
	"io"

	"github.com/itsbth/aoc-2023/runner"
)

type solver struct{}

var _ runner.Solver = solver{}

func (solver) Solve(input io.Reader) (int, int, error) {
	return 0, 0, nil
}

func init() {
	runner.Register({{.Year}}, {{.Day}}, solver{})
}
